.container {
    height: calc(100vh - 16px);
    display: grid;
    box-sizing: border-box;
    gap: 8px;
    padding: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "b1 b1 b1 b1 b1"
    "b2 b2 b2 b3 b3"
    "b2 b2 b2 b4 b5"    
    ;
  }
  
  .container > div.box1 {
    grid-area: b1;
    background-color: darkred;
  }
  
  .container > div.box2 {
    grid-area: b2;
    background-color: darkolivegreen;
  }
  
  .container > div.box3 {
    grid-area: b3;
    background-color: darkblue;
  }
  
  .container > div.box4 {
    grid-area: b4;
    background-color: darkorange;
  }
  
  .container > div.box5 {
    grid-area: b5;
    background-color: darkslategray
  }
  
  .container > * {
    border-radius: 8px;
    padding: 8px;
    color: white;
  }  