* {
  height: calc(100vh - 16px);
  display: grid;
  box-sizing: border-box;
  gap: 8px;
  padding: 8px;
  grid-template-areas:
  "head" 
  "link"
  "main" 
  "side" 
  "card";
  }

  @media screen and (min-width: 768px) {
    * {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "head head link link link"
      "main main main side side"
      "card card card side side"
      "card card card side side";
    }
    
  }
  
  html {
    font:
      1.2em/1.4 Arial,
      Helvetica,
      sans-serif;
  }
  
  body {
    padding: 0 0 1em;
  }
  
  header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-area: link;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
  }
  
  header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
    grid-area: head;
  }
  
  main {
    padding: 0 1em;
    grid-area: main;
  }
  
  .cards {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
    grid: card;
  }
  
  .cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
  }
  
  .cards .inner {
    padding: 0.5em 1em;
  }
  
  .sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
    grid-area: side;
  }