.container {
    height: calc(100vh - 16px);
    display: grid;
    box-sizing: border-box;
    gap: 8px;
    padding: 8px;
    grid-template-areas: "head head head head head"
    "sb1 sb1 sb1 sb1 sb1"
    "main main main main main"
    "sb2 sb2 sb2 sb2 sb2"
    "foot foot foot foot foot"
    ;
  }
  
  .container > div.box1 {
    grid-area: head;
    background-color: darkred;
  }
  
  .container > div.box2 {
    grid-area: sb1;
    background-color: darkolivegreen;
  }
  
  .container > div.box3 {
    grid-area: main;
    background-color: darkblue;
  }
  
  .container > div.box4 {
    grid-area: sb2;
    background-color: darkorange;
  }
  
  .container > div.box5 {
    grid-area: foot;
    background-color: darkslategray
  }

  .container > * {
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    color: white;
  }  